
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: grey;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-overlay.activo {
  display: flex;
}

.popup-contenido {
  position: relative;
  background: #fff;
}

#anuncio1 {
  width: 50%;
}

.cerrar-popup {
position: absolute;
top: 10px;
right: 10px;
background: red;
color: white;
}